# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## Common

# IDE
.idea

# dependencies
/node_modules
/apps/*/node_modules
/pnpm-lock.yaml

# typescript
/apps/*/*.tsbuildinfo

# ------------------------------

## Server

# production
/apps/server/dist

# ------------------------------

## Webapp

# dependencies
/apps/webapp/.pnp
/apps/webapp/.pnp.js
/apps/webapp/.yarn/install-state.gz

# testing
/apps/webapp/coverage

# next.js
/apps/webapp/.next/
/apps/webapp/out/

# production
/apps/webapp/build

# misc
/apps/webapp/.DS_Store
/apps/webapp/*.pem

# debug
/apps/webapp/npm-debug.log*
/apps/webapp/yarn-debug.log*
/apps/webapp/yarn-error.log*

# local env files
/apps/webapp/.env*.local

# vercel
/apps/webapp/.vercel

# typescript
/apps/webapp/next-env.d.ts
